.btn-plus {
    color: white;
    background-color: #4FAC5C;
    border-radius: 50%;
    border: none;

}

.btn-minus {
    color: white;
    background-color: #c51f13;
    border-radius: 80%;
    border: none;

}